@adminAndLogin.main("asdas") {


        <div class="login-content">

          <div style="text-align: center;margin-top: 450px;">
            <h1 class="page-heading" style="font-size: 50px;font-weight: bold;">注册成功！</h1>
            <h2 class="page-heading" style="font-size: 50px;"><a href="/">点击返回登录页面</a></h2>
          </div>

        </div>


  <script>

          $(function () {
            $(".login-bg").backstretch(["/assets/images/bg1.jpg",
              "/assets/images/bg2.jpg"],{fade:1e3,duration:8e3})
          });

  </script>
}